<!DOCTYPE HTML>
<head>
    <nav class="navbar navbar-default">
          <div class="container">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
              </ul>
               <ul class="nav navbar-nav navbar-right">
        <li><a href="/auth/facebook">Login with Facebook</a></li>
      
      </div>
    </nav>
    
    <title>neeilVote</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type = "text/css" href="/styles/style.css"/>
</head>
<body>
    <div class = "container">
        <div class="jumbotron text-center">
            <h2>neeilVote</h2>
            <hr>
            <h4>Login with your Facebook account for features such as submitting custom options on polls, creating your own polls, and viewing aggregate data on the responses to your polls.
            </h4>
            </br>
            <a href="/auth/facebook" class="btn btn-primary">Login with Facebook</a>
            
        </div>
        <% for(var i=0; i<list.length; i++) {%>
            	<a class= "btn btn-default pollbtn" href='/poll/<%=list[i].id%>'><%=list[i].title%></a><br>
        <% } %>
 
    </div>
</body>