<!DOCTYPE HTML>
<html>
    <head>
        <title>Login with Facebook</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <style>
            body {
                
                text-align: center;
                background: #627aad;
                color: white;
                font-size: 1.5em;
            }
            #loginbox {
                min-width: 100px;
                max-width: 300px;
                width: 20%;
                margin: 150px auto auto auto;
                background: #3b5998;
                padding: 25px;
            }
            .container {
                border-radius: 0px;
            }

        </style>
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
              </ul>
               <ul class="nav navbar-nav navbar-right">
        <li class="active"><a>Login with Facebook</a></li>
      
      </div>
    </nav>        
        
        
        <div id ="loginbox">
        Login with your Facebook account for features such as submitting custom options on polls, creating your own polls, and viewing aggregate data on the responses to your polls. <br/>
        <br/>
        <a href="/auth/facebook" class="btn btn-primary">Login with Facebook</a>
        </div>
    </body>
</html>