body {
    font-family: Helvetica, Arial;
    margin-bottom: 50px;
}

h2, h4{
  color: #bdbdbd;  
}

button{
    padding: 10px;
    border: none;
}
.container {
    text-align: center;
    margin: auto;
}

.navbar-default {
        border-color: transparent;
    border-radius: 0px;
}

.pollbtn {
    width: 70%;
    border-radius: 0px;
}

form {
    width: 25%;
    min-width: 200px;
    max-width: 400px;
    background: #eeeeee;
    padding: 20px;
    text-align: left;
    margin: 25px auto 25px auto;
}

#createForm {
    min-width: 300px;
}

form button {
    width: 100%;
}

input[type="radio"]{
   margin: 10px;
}

#fbShare{
    padding: 10px;
    background: #0d47a1;
    color:white;
}

#vote, #submit{
    color: white;
    background: #009688;
}
#vote:hover, #submit:hover {
    background-color: #00796b;
}
#newOption input {
    width: 100%;
}

.textInput{
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

th {
    text-align: center;
}

.managePoll {
    min-width: 400px;
}